/* global styles */
/* resetting margin and padding for cross-browser compatibility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font styles*/
.inter-customer-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Inter", sans-serif;
    color: #fff5e1;
    background-color: #5a2d14;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header styles*/
header{
    width: 100%;
    background-color: #5a2d14;
    padding: 10px 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 100px;
    font-size: 18px;
    font-weight: 700;
}

.menu-btn{
    border: none;
    background: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.logo{
    position: absolute;
    top: 0;
    left: 46%;
}

.logo img{
    max-width: 150px;
    height: auto;
}

nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    color:#fff5e1;
    padding: 0;
    margin: 0;
}

nav ul li{
    margin: 0 15px;
    display: flex;
    align-items: center;
}

nav ul li a{
    position: relative;
    color:#fff5e1;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color: #fff5e1;
    text-decoration: none;
}
nav ul li a::after{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #fff5e1;
    transition: width 0.3s ease;
}

nav ul li a:hover::after{
    width: 100%;
}

nav button{
    background-color: #fff5e1;
    padding: 5px 15px;
    color: #5a2d14;
    border: 0px solid transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3 ease, color 0.3 ease, border-color 0.6 ease;
}

nav button:hover{
    background-color: #5a2d14;
    color: #fff5e1;
    border: 2px solid #fff5e1;
}

nav i{
    font-size: 26px;
    color: #fff5e1;
    display: flex;
    align-items: center;
    transition: transform 0.3 ease;
}

nav i:hover{
    transform: scale(1.2);
}

/* sidebar styles */
/* sidebar hidden by default */
#sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff5e1;
    color: #5a2d14;
    padding: 20px;
    z-index: 1000; /* Ensure the sidebar is above other content */
    transition: left 0.3s ease;
}

#sidebar.active{
    left: 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    background: none;
    border: none;
    color: #5a2d14;
    padding: 5px;
}

.sidebar-menu, .sidebar-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-category {
    color: #5a2d14;
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0;
}

.menu-category a {
    color: #5a2d14;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    font-weight: 700;
    display: block;
    padding: 10px 0;
}

.sidebar-menu li ul{
    padding-left: 20px;
    margin-top: 10px;
}

.sidebar-menu li ul li a{
    font-size: 16px;
    color: #5a2d14;
    text-decoration: none;
    padding: 5px 0;
}

.sidebar-menu li ul li a:hover{
    text-decoration: underline;
    color: #5a2d14
}


/*banner styles*/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 100px 50px;
}

.carousel{
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-container{
    width: 100%;
    max-width: 730px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.carousel-slide{
    width: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    object-fit: cover;
}


.carousel-dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: flex;
    gap: 10px;
    transform: translateX(-50%);
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff5e1;
    opacity: 0.5;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.dot.active{
    opacity: 1;
    background-color: #fff5e1;
}

.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 15%;
    padding-left: 65px;
    margin-top: -100px;
    color: #fff5e1;
}

.banner-text h1{
    font-size: 18px;
    font-weight: bold;
    color: #fff5e1;
}

.banner-text p{
    font-size: 18px;
    text-align: center;
    width: 70%;
}

#shopForHeading{
    font-size: 20px;
    font-weight: 700;
    color: #fff5e1;
    margin: 0;
}

#shopForText{
    display: inline-block;
    font-size: 70px;
    font-weight: bold;
    color: #fff5e1;
    transition: opacity 1.5s ease;
    opacity: 1;
}

@keyframes fade{
    0%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

input[type="search"]{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #fff5e1;
    border-radius: 30px;
    border: 0;
    outline: none;
    font-size: 18px;
    color: #5a2d14;
    padding: 10px 15px;
}

.banner-text input[type="search"]::placeholder{
    color:#5a2d14;
    padding-left: 10px;
    font: "inter";
    opacity: 0.6;
}

/*featured styles*/
.featured{
    background-color: #fff5e1;
    text-align:center;
    padding: 20px;
}

.featured h2{
    font-size: 70px;
    font-weight: bold;
    color: #5a2d14;
    padding: 30px;
}

.featured-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.item{
    position: relative;
    border-radius: 10px;
    width: 300px;
    height:350px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    scroll-snap-align: start;
}

.item:hover{
    transform: scale(1.05);
}

.item-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5a2d14;
    color: #fff5e1;
    padding: 60px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.5s ease, padding 0.5s ease, background-color 0.5s ease; 
}

.item:hover .item-text{
    background-color: #5a2d14;
    height: 100%;
    padding: 20px;
    font-size: 26px;
    align-items: center;
}