/*GLOBAL STYLES*/
/*resetting margin and padding for cross-browser compatibility*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font styles*/
.inter-customer-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*bold styles for specific words*/
.bold-word{
    font-weight: bold;
}

/*animation styles*/
/*fade-in-right animation*/
.fade-in-right-section {
    opacity: 0;
    transform: translateX(50px); /*start from right*/
    transition: opacity 0.8s ease, transform 0.8s ease;
    transition-delay: var(--delay, 0s); /*delay for staggered effect*/
}

.fade-in-right-section.visible {
    opacity: 1;
    transform: translateX(0); /*move to original position*/
}

/*fade-in-left animation*/
.fade-in-left-section {
    opacity: 0;
    transform: translateX(-50px); /*start from left*/
    transition: opacity 0.8s ease, transform 0.8s ease;
    transition-delay: var(--delay, 0s); /*delay for staggered effect*/
}

.fade-in-left-section.visible {
    opacity: 1;
    transform: translateX(0); /*move to original position*/
}

/*body styles*/
body {
    font-family: "Inter", sans-serif;
    color: #fff5e1;
    background-color: #5a2d14;
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
}

/*sidebar navigation section styles*/
/*wrapper for main content*/
.main-content {
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
    z-index: 1; /*ensure content stays below the sidebar*/
    overflow-x: hidden;
}
/*fade out content when sidebar is active*/
.sidebar-active .main-content {
    opacity: 0.8; /*adds dimming effect*/
}
/*sidebar hidden by default*/
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff5e1;
    color: #5a2d14;
    padding: 20px 40px 20px 20px;
    z-index: 1000; /*ensure sidebar is above other content*/
    transition: left 0.3s ease; /*transition when sidebar is opened*/
}
.sidebar.sidebar-active{
    left: 0; 
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    background: none;
    border: none;
    color: #5a2d14;
    padding: 5px;
    cursor: pointer;
}
.sidebar-menu, .sidebar-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-category {
    color: #5a2d14;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}
.menu-category a {
    color: #5a2d14;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    font-weight: bold;
    display: block;
    padding: 10px 0;
}
.sidebar-menu li ul{
    padding-left: 20px;
    margin-top: 10px;
}
.sidebar-menu li ul li a{
    font-size: 16px;
    font-weight: normal;
    color: #5a2d14;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.3s ease;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.sidebar-menu li ul li a:hover{
    text-decoration: none;
    color: #5a2d14
}
.sidebar-menu li ul li a::after{
    content: "";
    position: absolute;
    left:0;
    bottom: 2px;
    width: 0%;
    height: 2px;
    background-color: #5a2d14;
    transition: width 0.3s ease;
}
/*underline animation after hovered*/
.sidebar-menu li ul li a:hover::after{
    width: 100%;
}

/*header section styles*/
header{
    background-color: #5a2d14;
    position: fixed; /*make header the positioning context*/
    width: 100%;
    height: 70px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 50px;
}
.nav-bar{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
.menu-btn{
    border: none;
    background-color: #5a2d14;
    color: #fff5e1;
    font-weight: bold;
    font-size: 24px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /*adjust for true centering*/
    z-index: 1;
}
.logo img{
    height: 100%;
    max-height: 70px;
    width: auto;
}
.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    gap: 20px;
}
.nav-links .link{
    position: relative;
    color:#fff5e1;
    text-decoration: none;
    transition: color 0.3s ease;
    white-space: nowrap;
    cursor: pointer;
}
.nav-links .link:hover{
    color: #fff5e1;
    text-decoration: none;
}
/*underline animation hidden before hovered*/
.nav-links .link::after{
    content: "";
    position: absolute;
    left:0;
    bottom: -3px;
    width: 0%;
    height: 3px;
    background-color: #fff5e1;
    transition: width 0.3s ease;
}
/*underline animation after hovered*/
.nav-links .link:hover::after{
    width: 100%;
}
.nav-links .order-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    white-space: nowrap;
    background-color: #fff5e1;
    color: #5a2d14;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.6s ease; /*smooth transition to hover effect*/
    cursor: pointer;
}
.nav-links .order-btn:hover {
    background-color: #5a2d14;
    color: #fff5e1;
    border: 2px solid #fff5e1;
    text-decoration: none;
}
.nav-links .order-btn:focus{
    background: #fff5e1;
    color: #5a2d14;
    border: none;
    outline: none;
}
.nav-links .cart-icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.nav-bar .cart-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav-bar .cart-icon:hover{
    transform: scale(1.1);
}
.cart-badge{
    color: #fff5e1;
    background-color: #5a2d14;
    font-size: 12px;
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    display: none; /* Hidden by default */
}

/*footer section styles*/
.footer{
    background-color: #5a2d14;
    color:#fff5e1;
    padding: 20px 50px;
    overflow: hidden;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left{
    flex: 1;
    padding-right: 30px;
}
.footer-left h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.newsletter{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.newsletter input{
    padding: 6px 10px;
    font-size: 16px;
    border: 2px solid #fff5e1;
    border-radius: 20px;
    width: 100%;
    outline: none;
    background-color: #5a2d14;
    color: #fff5e1;
}
.newsletter input::placeholder{
    color: #fff5e1;
    opacity: 0.8;
}
.subscribe{
    background-color: #fff5e1;
    color: #5a2d14;
    padding: 6px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.subscribe:hover{
    background-color: #5a2d14;
    color: #fff5e1;
    border: 2px solid #fff5e1;
}
.social-icons{
    display: flex;
}
.social-icons .icon img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
}
/*successful subscription popup message*/
.popup {
    display: none; /*hide popup by default*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /*overlay background*/
    justify-content: center;
    align-items: center;
    z-index: 1000; /*ensure popup is above everything else*/
}
.popup-content {
    background-image: url('images/Chateraise\ newsletter\ popup\ bg.png');
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}
.popup-content .close-x {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #fff5e1;
    z-index: 1;
    cursor: pointer;
}
.popup-content h2 {
    font-size: 40px;
    color: #fff5e1;
    width: 50%;
    text-align: center;
    z-index: 1;
}
.popup-content p {
    font-size: 18px;
    color: #fff5e1;
    text-align: center;
    padding: 20px 0;
    z-index: 1;
}
.popup button{
    background-color: rgba(255, 245, 225, 0.6);
    color: #5a2d14;
    border: none;
    border-radius: 20px;
    padding: 6px 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
}
.popup .close-popup:hover {
    transform: scale(1.05);
}
.footer-right{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}
.footer-section{
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-section h4{
    font-size: 20px;
    border-bottom: 3px solid #fff5e1;
    font-weight: bold;
    padding-bottom: 5px;
    margin: 0 0 20px 0;
}
.footer-section ul{
    list-style: none;
}
.footer-section li{
    margin-bottom: 6px;
    font-size: 18px;
}
.footer-section a {
    color: #fff5e1;
    text-decoration: none;
}
.footer-section a:hover {
    text-decoration: underline;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.footer-bottom p {
    font-size: 14px;
    margin: 0;
    text-align: left;
}
.footer-logo img {
    max-width: 150px;
    height: auto;
    cursor: pointer;
}

/*INDEX.HTML STYLES*/
/*banner section styles*/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 50px 50px;
    flex-wrap: nowrap;
}
.carousel-container{
    width: 80%;
    height: 400px;
    max-width: 800px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.carousel{
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 1s ease-in-out;
}
.carousel-slide{
    width: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    object-fit: cover;
}
.carousel-dots{
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 50%;
    gap: 10px;
    transform: translateX(-50%);
}
.dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff5e1;
    opacity: 0.5;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}
/* when image of dot is showing*/
.dot.active{
    opacity: 1;
    background-color: #fff5e1;
}
.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 65px;
    color: #fff5e1;
}
.banner-text p{
    font-size: 18px;
    text-align: center;
    width: 70%;
    margin-bottom: 20px;
}
#shopForHeading{
    font-size: 20px;
    font-weight: bold;
    color: #fff5e1;
}
#shopForText{
    display: inline-block;
    font-size: 70px;
    font-weight: bold;
    color: #fff5e1;
    transition: opacity 1.5s ease; /*transition from one text to the other*/
    opacity: 1;
}
.search-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    width: 90%;
}
#search-bar {
    width: 100%;
    padding: 10px 15px 10px 45px;
    background-color: #fff5e1;
    border-radius: 20px;
    border: 0;
    outline: none;
    font-size: 18px;
    color: #5a2d14;
    transition: all 0.3s ease; /*smooth transition for focus*/
    cursor: text;
}
#search-icon{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}
.banner-text input[type="search"]::placeholder{
    color:#5a2d14;
    opacity: 0.6;
}
/*suggestions list when user enters input*/
.suggestions-list {
    position: absolute;
    top: 100%; /*space below the search bar*/
    left: 0;
    right: 0;
    max-height: 200px; /*limit height for scrollable suggestions*/
    overflow-y: auto; /*scroll when content exceeds max height*/
    background-color: #fff5e1;
    border-radius: 20px;
    z-index: 1000; /*ensure it appears above other elements*/
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.suggestions-list li {
    text-align: left;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #5a2d14;
}
.suggestions-list li:hover {
    background-color: #fbe2b4; /*highlight the suggestion on hover*/
    cursor: pointer;
}
.first-suggestion{
    background-color: #fbe2b4;
    font-weight: bold;
    color: #5a2d14;
}

/*featured section styles*/
.featured{
    background-color: #fff5e1;
    text-align:center;
    padding: 60px 50px;
}
.featured h2{
    font-size: 70px;
    font-weight: bold;
    color: #5a2d14;
    padding-bottom: 30px;
}
.featured-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 34px;
}
.item{
    position: relative;
    border-radius: 10px;
    width: 300px;
    height:350px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.item:hover{
    transform: scale(1.05);
}
.item-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-text{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background-color: rgba(90, 45, 20, 0.8);
    color: #fff5e1;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    transition: height 0.5s ease, padding 0.5s ease, background-color 0.5s ease; /*smooth growing card transition on hover*/
}
.item:hover .item-text{
    height: 100%;
    padding: 20px;
    font-size: 26px;
    align-items: center;
}

/*about us section styles*/
.about{
    display: flex;
    padding: 50px 50px;
    flex-direction: column;
    height: 100%;
}
.about-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch;
}
.about-text-container{
    display: flex;
    width: 35%;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    height: auto;
    color: #fff5e1;
}
.about-text-container h2{
    width: 50%;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}
.about-text-container p{
    text-align: left;
    font-size: 18px;
    line-height: 26px;
}
.about-text-container h3{
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.about-image{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.about-image img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.about-image:hover{
    transform: scale(1.01);
}

/*testimonials section styles*/
.testimonial{
    padding: 80px 50px;
    background-color: #fff5e1;
}
.testimonial-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.testimonial-article-container{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.testimonial-article{
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.testimonial-article:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
.testimonial-article img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.read-now-button{
    position: absolute;
    bottom: 8px;
    right: 8px;
    transform: translateX(-50%); /*centers the button by shifting it left by 50% of its width*/
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.testimonial-text-container{
    max-width: 40%;
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
    color: #5a2d14;
    margin: 5px 0;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.testimonial-text-container h3{
    font-size: 30px;
}
.testimonial-text-container h2{
    font-size: 100px;
}
.testimonial-video-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}
.testimonial-item{
    flex: 1;
    max-width: 30%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.testimonial-item iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonial-item:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/*COLLECTION.HTML STYLES*/
.products-main-content{
    background-color: #fff5e1;
}
/*products section styles*/
.products{
    color: #5a2d14;
}
.category-header h1{
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 70px 0 16px 0;
    font-size: 24px;
    font-weight: bold;
    background-color: #5a2d14;
    color: #fff5e1;
    z-index: 1;
}
.products .category-container{
    padding: 200px 50px 50px;
}
.products .category-banner{
    display: flex;
    justify-content: space-between;
}
.category-image{
    flex: 1.5;
    border-radius: 20px;
    overflow: hidden;
}
.category-image img{
    width: 100%;
    height: auto;
    display: block;
}
.category-image:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.category-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.category-text h2{
    font-size: 80px;
    font-weight: bold;
}
.category-text p{
    display: block;
    width: 70%;
    text-align: center;
    font-size: 20px;
}
.category-container h3{
    padding: 40px 0 20px 0;
    font-size:24px;
    font-weight: normal;
}

/*product list section styles*/
.product-items{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.product-card{
    flex: 1 1 calc(33.33% - 30px); /*each card takes up 1/3 of the row minus the gap*/
    max-width: calc(33.33% - 30px); /*prevents cards from exceeding 1/3 of the row */
    background-color: #fff5e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /*smooth baclground color transitioning when hovered*/
}
.product-card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: rgba(90, 45, 20, 0.85);
    cursor: pointer;
}
.product-items a{
    text-decoration: none;
}
.product-image img{
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.product-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5a2d14;
    padding: 20px 15px;
    gap: 20px;
    text-align: center;
}
.product-text h3{
    font-weight: bold;
    font-size: 24px;
    max-width: 90%;
}
.product-text p{
    font-size: 14px;
    max-width: 80%;
    line-height: 20px;
}
.product-text .price{
    font-size: 22px;
    font-weight: bold;
}
.product-card:hover .product-text{
    color: #fff5e1;
}

/*delivery section styles*/
.delivery{
    padding: 20px 50px;
}
.delivery-container{
    display: flex;
    flex-direction: row;
    background-color: #5a2d14;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.delivery-container:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.delivery-image{
    width: 70%;
    padding: 50px;
}
.delivery-image img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
.delivery-details-container{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    width: 40%;
}
.delivery-header{
    display: flex;
    justify-content: center;
    position: relative;

}
.delivery-header-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.delivery-header-text h2{
    font-weight: bold;
    font-size: 60px;
    text-align: left;
}
.delivery-header-text p{
    font-size: 20px;
}
.delivery-icon{
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    width: auto;
}
.delivery-icon img{
    max-width: 80%;
    height: auto;
}
.delivery-details{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 30px;
    flex-grow: 1;
}
.step-number, .step-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.step-text{
    margin-bottom: 26px;
}
.step-number h2{
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 24px;
}
.step-text h3{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
.step-text p{
    font-size: 16px;
    width: 84%;
}

/*faq section styles*/
.faq {
    color: #5a2d14;
    padding: 80px 50px;
}
.faq-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 50px;
}
.faq-left{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.faq-left h2{
    font-weight: bold;
    font-size: 68px;
    width: 80%;
}
.faq-left p{
    font-size: 24px;
    margin-bottom: 20px;
}
.faq-form{
    display: flex;
    gap: 10px;
    max-width: 100%;
}
.faq-form input{
    padding: 6px 16px;
    font-size: 16px;
    border: 2px solid #5a2d14;
    border-radius: 20px;
    outline: none;
    background-color: #fff5e1;
    width: 100%;
}
.faq-form input::placeholder{
    color: #5a2d14;
    opacity: 0.8;
}
.faq-form button{
    background-color: #5a2d14;
    color: #fff5e1;
    padding: 6px 36px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.faq-form button:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.faq-right{
    display: flex;
    flex-direction: column;
    width: 60%;
    border-top: 2px solid #5a2d14;
}
.faq-right details{
    border-bottom: 2px solid #5a2d14;
    margin-bottom: 10px;
    overflow: hidden;
}
.faq-right summary{
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding-bottom 0.3s ease; /*smooth transition of bottom padding when question opens*/
}
.faq-right details[open] summary{
    padding-bottom: 10px;
}
.faq-right .faq-icon{
    font-size: 30px;
    transition: transform 0.3s ease;
}
details[open] .faq-icon{
    transform: rotate(180deg); /*rotates icon*/
    font-size: 40px;
}
details p{
    padding: 20px 15px;
    font-size: 20px;
    width: 85%;
}

/*ITEM.HTML STYLES*/
/*item details section styles*/
.item-details{
    padding: 140px 40px 80px 40px;
}
.item-details h2{
    padding: 24px 0;
    font-size:22px;
    font-weight: normal;
    color: #fff5e1; 
    border-top: 2px #fff5e1 solid;
}
.item-details a{
    text-decoration: none;
    color: #fff5e1;
}
.item-details-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #5a2d14;
    height: auto;
}
.item-image{
    border-radius: 20px;
}
.item-image img{
    border-radius: 20px;
    width: 90%;
    height: auto;
    max-width: 100%;
}
.item-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item-info-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    height: 40%;
    padding-bottom: 20px;
}
.item-name h3{
    font-size: 54px;
    font-weight: bold;
    text-align: left;
}
.item-price h4{
    border: none;
    font-size: 54px;
    font-weight: bold;
    text-align: right;
    margin: 0;
}
.item-desc-container{
    background-color: #fff5e1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 60%;;
}
.item-desc{
    display: flex;
    width: 75%;
    height: 100%;
    align-items: center;
}
.item-desc p{
    color: #5a2d14;
    text-align: center;
    font-size: 20px;
}
.quantity-cart{
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 100%;
    height: 14%;
    justify-content: space-between;
}
.quantity-selector{
    display: flex;
    gap: 18px;
    color: #5a2d14;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.quantity-selector button{
    background-color: #5a2d14;
    border: none;
    color: #fff5e1;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
/* when quanitity is at minimum, decrease selector disabled*/
.decrease.disabled{
    opacity: 0.5;
    pointer-events: none;
}
.add-to-cart-button{
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-to-cart-button button{
    background-color: #5a2d14;
    border: none;
    border-radius: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff5e1;
    padding: 0 26px;
    height: 100%;
    cursor: pointer;
}
.add-to-cart-button img{
    height: 100%;
    width: auto;
    object-fit: contain;
    margin-left: 10px;
    max-width: 22px;
}
.add-to-cart-button button:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*you may also like section styles*/
.suggestions{
    background-color: #fff5e1;
    color: #5a2d14;
    padding: 40px 40px;
}
.suggestions h2{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}
.suggested-products{
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.suggested-product-card{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 300px;
    border-radius: 10px;
    background-color: #fff5e1;
    text-align: left;
}
.suggested-image img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.suggested-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px 0;
}
.suggested-desc .price{
    font-size: 16px;
}
.suggested-desc .name{
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    width: 80%;
}
.add{
    background-color: #5a2d14;
    color: #fff5e1;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.2s ease;
    cursor: pointer;
}
.add:hover{
    transform: scale(1.03);
}

/*CHECKOUT.HTML STYLES*/
/*checkout section styles*/
/*checkout progress styles*/
.checkout {
    display: flex;
    justify-content: space-between;
    padding: 160px 40px 40px 40px;
    background-color: #fff5e1;
    color: #5a2d14;
}
.checkout-progress{
    width: 60%;
}
.checkout-progress h2{
    border-bottom: 2px #5a2d14 solid;
    padding: 14px 0;
    font-size: 26px;
}
.customer-info-container h3{
    padding: 14px 0;
    font-size: 20px;
}
.form-input{
    padding: 5px 0;
}
.form-input label{
    font-weight: bold;
    font-size: 16px;
}
.form-input input{
    width: 100%;
    border: 2px #5a2d14 solid;
    border-radius: 20px;
    background-color:#fff5e1;
    padding: 8px 14px;
    color: #5a2d14;
    outline: none;
    margin-top: 8px;
}
.form-input input::placeholder, .additional-request textarea::placeholder{
    color: #5a2d14;
    opacity: 0.6;
}
.form-input input:focus{
    outline: 1px solid #5a2d14;
}
.form-input select{
    border: 2px #5a2d14 solid;
    border-radius: 10px;
    background-color: #fff5e1;
    color: #5a2d14;
    padding: 8px 10px;
    opacity: 0.8;
    outline: none;
}
.additional-request textarea{
    border: 2px #5a2d14 solid;
    border-radius: 10px;
    background-color: #fff5e1;
    color: #5a2d14;
    margin-top: 8px;
    height: 100px;
    padding: 8px;
    outline: none;
}
.name-input, .phone-input, .datetime-input{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 40px;
}
.datetime-input input{
    width: auto;
    border-radius: 10px;
    opacity: 0.8;
}
.additional-request{
    display: flex;
    flex-direction: column;
}
.pay-online-button{
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #5a2d14;
    color: #fff5e1;
    font-weight: bold;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.pay-online-button:hover{
    transform: scale(1.03);
}
/*checkout summary styles*/
.checkout-summary{
    border: 2px #5a2d14 solid;
    background-color: rgba(90, 45, 20, 0.05);
    width: 35%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.checkout-summary h2{
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 2px solid #5a2d14;
    width: 100%;
    text-align: center;
}
/*summary items shown when item added to cart*/
.summary-items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.summary-items .item{
    padding: 30px 0;
    box-shadow: none;
    transform: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    border-radius: 0;
    border-bottom: 2px solid #5a2d14;
}
.summary-items .cart-item-image{
    width: 30%;
    max-width: 80px;
    object-fit: cover;
    border-radius: 10px;
}
.summary-items .item .item-name{
    font-size: 18px;
    font-weight: bold;
    color: #5a2d14;
    width: 35%;
}
.summary-items .item .item-price {
    font-size: 18px;
    width: 20%;
    color: #5a2d14;
}
.summary-items .item .item-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0.5;
}
.item-controls button {
    background-color: #5a2d14;
    color: #fff5e1;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.item-controls button:hover {
    transform: scale(1.05);
}
.summary-items .item .item-controls .quantity {
    font-size: 16px;
    margin: 0 10px;
}
/*empty-cart-message when cart is empty*/
.empty-cart-message {
    text-align: center;
    font-size: 20px;
    color: #5a2d14;
    display: none;
    padding: 20px 0;
    border-bottom: 2px solid #5a2d14;
}
/*promo code*/
.promo-code{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    border-bottom: 2px solid #5a2d14;
}
.promo-code label{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.promo-input{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.promo-input input{
    border: 2px solid #5a2d14;
    background-color: #fff5e1;
    padding: 8px 14px;
    border-radius: 20px;
    width: 100%;
    outline: none;
}
.promo-input input::placeholder{
    color: #5a2d14;
    opacity: 0.6;
}
.promo-input button{
    border: none;
    border-radius: 20px;
    background-color: #5a2d14;
    color: #fff5e1;
    font-weight: bold;
    padding: 8px 30px;
    cursor: pointer;
}
.promo-input button:hover{
    transform: scale(1.03);
}
.total-costs{
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.total-costs p, .total-costs h4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.total-costs p{
    margin-bottom: 16px;
    font-size: 18px;
}
.total-costs h4{
    border-top: 2px solid #5a2d14;
    border-bottom: 2px solid #5a2d14;
    padding: 12px 0;
    font-size: 18px;
    font-weight: bold;
}
.total-costs .cost{
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.checkout-summary h3{
    font-size: 22px;
    padding-bottom: 12px;
}
.complimentary-candles{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #5a2d14;
}
.candle-checkbox {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}
.candle-checkbox label {
    font-size: 18px;
}
.candle-checkbox input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*responsive media*/
@media (max-width: 1440px){
    /*sidebar section styles*/
    .sidebar{
        width: 200px;
    }
    .close-btn{
        font-size: 20px;
    }
    .sidebar-menu li ul li a{
        font-size: 16px;
    }

    /*header section styles*/
    header{
        padding: 0 30px;
    }
    .menu-btn{
        font-size: 20px;
    }
    .nav-links .link{
        display: none;
    }
    .nav-links .order-btn {
        font-size: 20px;
    }

    /*footer section*/
    .footer{
        padding: 20px 30px;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-left{
        width: 100%;
        padding-right: 0;
        margin-bottom: 40px;
    }
    /*popup message*/
    .popup-content {
        height: 30%;
    }
    .popup-content h2 {
        font-size: 30px;
    }

    .footer-right{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr; /*two-column layout for tablet*/
        gap: 40px;
    }
    .footer-section{
        margin-bottom: 0px;
    }
    .footer-section.about-us{
        grid-column: 2;
        grid-row: 1;
    }
    .footer-section.contact-us{
        grid-column: 2;
        grid-row: 2;
    }
    .footer-section.consumer-care{
        grid-column: 1;
        grid-row: span 2;
    }
    .social-icons{
        width: 100%;
        justify-content: left;
    }
    .footer-bottom{
        width: 100%;
    }

    /*INDEX.HTML STYLES*/
    /*banner section styles*/
   .banner{
        padding: 100px 40px 40px 40px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner-text{
        margin-bottom: 20px;
        padding-left: 0;
    }
    .banner-text p{
        line-height: 26px;
    }
    .carousel-container{
        width: 100%;
    }
    .search-container{
        max-width: 100%;
    }

    /*about us section styles*/
    .about-content{
        flex-direction: column;
        align-items: center;
    }
    .about-text-container{
        width: 100%;
        gap: 20px;
    }
    .about-text-container p{
        font-size: 16px;
        padding: 20px 0;
    }
    .about-text-container h3{
        max-width: 60%;
        font-size: 30px;
    }
    .about-image{
        width: 100%;
    }

    /*testimonials section styles*/
    .testimonial{
        padding: 30px;
    }
    .testimonial-content{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .testimonial-text-container {
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
        order: -1; /*position text before article*/
    }
    .testimonial-text-container h3 {
        font-size: 24px;
    }

    .testimonial-text-container h2 {
        font-size: 60px;
    }
    .testimonial-article-container {
        width: 78%; 
        flex-direction: column;
        margin-bottom: 20px;
    }
    .testimonial-article{
        width: 100%;
    }
    .testimonial-video-container {
        flex-direction: column;
        align-items: center;
    }
    .testimonial-item {
        width: 78%;
        max-width: 100%;
        margin-bottom: 50px;
    }

    /*COLLECTION.HTML STYLES*/
    /*products section styles*/
    .category-header h1{
        font-size: 20px;
        padding: 64px 0 10px 0;
    }
    .products .category-container{
        padding: 160px 40px 40px;
    }
    .products .category-banner{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .category-text{
        gap: 40px;
    }
    .category-text h2{
        font-size: 60px;
    }
    .category-text p{
        width: 80%;
        font-size: 20px;
        line-height: 26px;
    }
    .category-container h3{
        padding: 20px 0;
        font-size:20px;
    }

    /*product list section styles*/
    .product-items{
        gap: 20px;
    }
    .product-card{
        flex: 1 1 calc(50% - 20px); /*each card takes up 1/2 of the row minus the gaps*/
        max-width: calc(50% - 20px); /*prevents the cards from exceeding 1/2 of the row*/
    }
    .product-text{
        padding: 5px 15px;
        gap: 0;
    }
    .product-text h3{
        font-size: 20px;
    }
    .product-text p{
        font-size: 14px;
        max-width: 90%;
        padding-bottom: 10px;
    }
    .product-text .price{
        font-size: 20px;
        padding: 10px;
    }

    /*delivery section styles*/
    .delivery-container {
        flex-direction: column;
        align-items: center;
    }
    .delivery-image {
        width: 100%;
        padding: 40px;
    }
    .delivery-details-container {
        width: 100%;
        padding: 0 40px;
    }
    .delivery-header{
        flex-direction: row;
    }
    .delivery-header-text h2 {
        font-size: 50px;
    }
    .delivery-header-text p {
        font-size: 18px;
    }
    .delivery-icon img {
        max-width: 70%;
    }
    .delivery-details {
        flex-direction: row;
        padding: 40px 0;
        gap: 20px;
    }
    .step-text-container .step-number{
        justify-content: space-evenly;
    }
    .step-number h2 {
        font-size: 48px;
    }
    .step-text h3 {
        font-size: 20px;
    }
    .step-text p {
        font-size: 16px;
        width: 90%;
    }

    /*faq section styles*/
    .faq{
        padding: 40px;
    }
    .faq-container{
        flex-direction: column;
    }
    .faq-left{
        width: 100%;
    }
    .faq-left h2{
        font-size: 50px;
    }
    .faq-left p{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .faq-form{
        max-width: 90%;
    }
    .faq-form button{
        padding: 6px 30px;
    }
    .faq-right{
        width: 100%;
    }
    .faq-right details{
        margin-bottom: 0px;
    }
    .faq-right summary{
        padding: 10px;
        font-size: 18px;
    }
    .faq-right .faq-icon{
        font-size: 26px;
    }
    details[open] .faq-icon{
        font-size: 36px;
    }
    details p{
        padding: 15px 10px;
        font-size: 16px;
        width: 90%;
    }

    /*ITEM.HTML STYLES*/
    /*item details section styles*/
    .item-details{
        padding: 120px 40px 30px 40px;
    }
    .item-details h2{
        font-size:20px;
    }
    .item-details-container{
        flex-direction: column;
        gap: 30px;
    }
    .item-image img{
        width: 100%;
    }
    .item-info-header{
        gap: 20px;
    }
    .item-name h3, .item-price h4{
        font-size: 48px;
    }
    .item-desc p{
        color: #5a2d14;
        font-size: 20px;
    }
    .quantity-cart{
        margin-top: 20px;
    }
    .quantity-selector{
        font-size: 16px;
    }
    .quantity-selector button{
        width: 26px;
        height: 26px;
        font-size: 16px;
    }
    .add-to-cart-button button{
        padding: 8px 26px;
        font-size: 14px;
    }
    .add-to-cart-button img{
        max-width: 20px;
    }
    
    /*CHECKOUT.HTML STYLES*/
    /*checkout section styles*/
    /*checkout progress*/
    .checkout-progress{
        width: 50%;
    }
    .checkout-progress h2{
        font-size: 24px;
    }
    .customer-info-container h3{
        font-size: 18px;
    }
    .form-input label{
        font-size: 14px;
    }
    .form-input input{
        padding: 4px 14px;
        margin-top: 6px;
    }
    .form-input input::placeholder, .additional-request textarea::placeholder{
        font-size: 14px;
    }
    .form-input select, .additional-request textarea{
        padding: 4px 8px;
        font-size: 14px;
    }
    .additional-request textarea{
        margin-top: 6px;
    }
    .name-input, .phone-input, .datetime-input{
        gap: 10px;
    }
    .pay-online-button{
        margin-top: 10px;
        padding: 8px;
    }
    /*checkout summary*/
    .checkout-summary{
        width: 45%;
        padding: 10px;
    }
    .checkout-summary h2{
        font-size: 24px;
        padding-bottom: 6px;
    }
    .summary-items .item{
        justify-content: space-between;
        padding: 30px 10px;
    }
    .summary-items .cart-item-image{
        width: 20%;
    }
    .summary-items .item .item-name{
        font-size: 18px;
        width: 36%;
    }
    .summary-items .item .item-price {
        font-size: 18px;
        width: 10%;
    }
    .item-controls button {
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
    .summary-items .item .item-controls .quantity {
        font-size: 18px;
        margin: 0 10px;
    }
    .empty-cart-message {
        font-size: 18px;
        padding: 10px 0;
    }
    /*promo code*/
    .promo-code{
        margin-top: 10px;
    }
    .promo-code label, .checkout-summary h3{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .promo-input{
        gap: 10px;
    }
    .promo-input input{
        padding: 4px 14px;
    }
    .promo-input input::placeholder{
        font-size: 14px;
    }
    .promo-input button{
        font-size: 12px;
        padding: 4px 8px;
    }
    .total-costs{
        margin: 10px 0;
    }
    .total-costs p{
        margin-bottom: 10px;
        font-size: 18px;
    }
    .total-costs h4{
        padding: 10px 0;
        font-size: 18px;
    }
    .candle-checkbox label {
        font-size: 18px;
    }
    .candle-checkbox input {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 767px){
    /*header section styles*/
    header{
        padding: 10px 20px;
        height: 40px;
    }
    .menu-btn{
        font-size: 12px;
    }
    .nav-links .order-btn{
        font-size: 12px;
        padding: 2px 8px;
    }
    .logo img{
        max-height: 40px;
    }
    .nav-links{
        gap: 10px;
    }
    .nav-bar .cart-icon{
        width: 20px;
    }
    .cart-badge{
        font-size: 8px;
        width: 14px;
        height: 14px;
    }

    /*footer section*/
    .footer-left h3{
        font-size: 18px;
    }
    .newsletter input{
        padding: 2px 10px;
    }
    .newsletter input::placeholder{
        font-size: 14px;
    }
    .subscribe{
        font-size: 14px;
        padding: 2px 14px;
    }
    /*popup message*/
    .popup-content{
        width: 80%;
        height: 26%;
    }
    .popup-content h2{
        font-size: 24px;
    }
    .popup-content p{
        font-size: 14px;
    }
    .footer-section h4{
        font-size: 18px;
    }
    .footer-section li{
        font-size: 16px;
    }
    .social-icons{
        width: 100%;
        justify-content: left;
    }
    .footer-bottom{
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
        gap: 5px;
    }
    .footer-bottom p{
        font-size: 10px;
    }
    .footer-logo img{
        max-width: 140px;
    }
    
    /*INDEX.HTML STYLES*/
    /*banner section*/
    .banner{
        padding: 60px 20px 20px 20px;
    }
    .banner-text{
        margin-bottom: 30px;
    }
    #shopForHeading{
        font-size: 14px;
    }
    #shopForText{
        font-size: 44px;
    }
    .banner-text p{
        font-size: 14px;
        width: 80%;
        line-height: 20px;
    }
    .carousel-container{
        width: 100%;
        height: auto;
    }
    #search-bar{
        padding: 6px 12px 6px 40px;
        font-size: 12px;
    }
    #search-icon{
        width: 16px;
        height: 16px;
    }
    .banner-text input[type="search"]::placeholder{
        font-size: 12px;
    }

    /*featured section styles*/
    .featured{
        padding: 30px;
    }
    .featured h2{
        font-size: 40px;
    }
    .featured-items .item-text{
        font-size: 24px;
    }

    /*about us section styles*/
    .about{
        padding: 20px 30px;
    }
    .about-text-container{
        padding-right: 0;
        text-align: left;
        gap: 10px;
    }
    .about-heading h2{
        font-size: 60px;
    }
    .about-text-container p{
        font-size: 14px;
        line-height: 24px;
    }
    .about-text-container h3{
        max-width: 70%;
        font-size: 24px;
    }

    /*testimonials section styles*/
    .testimonial{
        padding: 40px;
    }
    .testimonial-text-container {
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
        order: -1;
    }
    .testimonial-text-container h3 {
        font-size: 18px;
    }
    .testimonial-text-container h2 {
        font-size: 45px;
    }
    .testimonial-article-container{
        width: 100%;
        margin-bottom: 10px;
    }
    .testimonial-item {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    /*COLLECTION.HTML STYLES*/
    /*products section styles*/
    .category-header h1{
        font-size: 12px;
        padding: 40px 0 10px 0;
    }
    .products .category-container{
        padding: 100px 30px 30px;
    }
    .products .category-banner{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .category-text{
        gap: 20px;
    }
    .category-text h2{
        font-size: 40px;
    }
    .category-text p{
        width: 84%;
        font-size: 12px;
        line-height: 20px;
    }
    .category-container h3{
        font-size: 14px;
    }
    /*product list section styles*/
    .product-card{
        flex: 1 1 100%; /*each card takes up the whole row*/
        max-width: 100%;
    }
    .product-text h3{
        font-size: 18px;
    }
    .product-text p{
        font-size: 12px;
        max-width: 90%;
        line-height: 18px;
    }
    .product-text .price{
        font-size: 18px;
    }

    /*delivery section styles*/
    .delivery{
        padding: 30px;
    }
    .delivery-image{
        padding: 20px;
    }
    .delivery-details-container{
        padding: 0 20px;
    }
    .delivery-header-text h2{
        font-size: 38px;
        width: 100%;
    }
    .delivery-header-text p{
        font-size: 14px;
    }
    .delivery-icon{
        width: 30%;
    }
    .delivery-icon img{
        max-width: 100%;
    }
    .delivery-details{
        padding: 30px 0;
        gap: 15px;
    }
    .step-number h2{
        font-size: 40px;
        margin-bottom:30px;
    }
    .step-text h3{
        font-size: 16px;
    }
    .step-text p{
        font-size: 14px;
        width: 90%;
    }

    /*faq section styles*/
    .faq{
        padding: 30px;
    }
    .faq-left h2{
        font-size: 38px;
    }
    .faq-left p{
        font-size: 16px;
    }
    .faq-form input{
        padding: 5px 10px;
        font-size: 10px;
    }
    .faq-form input::placeholder{
        font-size: 10px;
    }
    .faq-form button{
        padding: 2px 20px;
        font-size: 12px;
    }
    .faq-right summary{
        padding: 8px;
        font-size: 12px;
    }
    .faq-right .faq-icon{
        font-size: 16px;
    }
    details[open] .faq-icon{
        font-size: 18px;
    }
    details p{
        font-size: 12px;
        width: 95%;
    }

    /*ITEM.HTML STYLES*/
    /*item details section styles*/
    .item-details{
        padding: 80px 30px 40px 30px;
    }
    .item-details h2{
        font-size:14px;
        padding: 16px 0;
    }
    .item-details-container{
        gap: 20px;
    }
    .item-name h3, .item-price h4{
        font-size: 38px;
    }
    .item-desc{
        width: 100%;
    }
    .item-desc p{
        font-size: 14px;
    }
    .quantity-cart{
        width: 100%;
        margin-top: 10px;
    }
    .quantity-selector{
        font-size: 14px;
    }
    .quantity-selector button{
        width: 22px;
        height: 22px;
        font-size: 14px;
    }
    .add-to-cart-button button{
        padding: 6px 16px;
        font-size: 12px;
    }
    .add-to-cart-button img{
        max-width: 18px;
    }

    /*you may also like section styles*/
    .suggestions h2{
        font-size: 34px;
    }
    .suggested-product-card{
        width: 200px;
    }
    .suggested-desc .price{
        font-size: 14px;
    }
    .suggested-desc .name{
        font-size: 16px;
        width: 90%;
    }
    .add{
        font-size: 12px;
        padding: 8px;
    }

    /*CHECKOUT.HTML STYLES*/
    /*checkout section styles*/
    /*checkout progress*/
    .checkout {
        flex-direction: column-reverse;
        padding: 100px 40px 40px 40px;
        gap: 20px;
    }
    .checkout-progress{
        width: 100%;
    }
    .checkout-progress h2{
        font-size: 20px;
    }
    .customer-info-container h3{
        font-size: 16px;
    }
    .form-input label{
        font-size: 12px;
    }
    .form-input input{
        padding:4px 14px;
        margin-top: 2px;
        font-size: 12px;
    }
    .form-input input::placeholder, .additional-request textarea::placeholder{
        font-size: 10px;
    }
    .form-input select, .additional-request textarea{
        padding: 4px 4px;
        font-size: 10px;
    }
    .additional-request textarea{
        margin-top: 5px;
    }
    .pay-online-button{
        margin-top: 5px;
        padding: 5px;
        font-size: 12px;
    }
    .checkout-summary{
        width: 100%;
    }
    /*checkout summary*/
    .checkout-summary h2{
        font-size: 20px;
    }
    .summary-items .item{
        padding: 10px;
    }
    .summary-items .item .item-name{
        font-size: 14px;
        width: 30%;
    }
    .summary-items .item .item-price{
        font-size: 14px;
    }
    .item-controls button {
        width: 18px;
        height: 18px;
        font-size: 12px;
    }
    .summary-items .item .item-controls .quantity {
        font-size: 16px;
        margin: 0 8px;
    }
    .empty-cart-message {
        font-size: 16px;
    }
    /*promo code*/
    .promo-input input::placeholder{
        font-size: 12px;
    }
    .promo-input button{
        padding: 4px 10px;
    }
    .total-costs p, .total-costs h4{
        font-size: 14px;
    }
    .candle-checkbox label {
        font-size: 12px;
    }
    .candle-checkbox input {
        width: 14px;
        height: 14px;
    }
}