/* global styles */
/* resetting margin and padding for cross-browser compatibility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font styles*/
.inter-customer-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Inter", sans-serif;
    color: #fff5e1;
    background-color: #5a2d14;
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
}
/*header styles*/
header{
    position: fixed; /* Make header the positioning context */
    width: 100%;
    background-color: #5a2d14;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 1;
    font-size: 18px;
    font-weight: 700;
    box-sizing: border-box;
}

.nav-bar{
    position: absolute; /* Overlap the logo */
    top: 50%; /* Center vertically over the logo */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Space menu button and nav-links */
    align-items: center;
    padding: 0 40px; /* Optional padding for the nav-bar */
    transform: translateY(-50%); /* Adjust to center the nav-bar over the logo */
    z-index: 2; /* Make sure it overlaps the logo */
    box-sizing: border-box;
}

.menu-btn{
    border: none;
    background: none;
    color: #fff5e1;
    font-size: 24px;
    align-self: flex-start;
    white-space: nowrap;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.logo img{
    max-width: 150px;
    height: auto;
    display: block;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    align-self: flex-end;
    font-size: 20px;
}

nav ul li{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

nav ul li a{
    position: relative;
    color:#fff5e1;
    text-decoration: none;
    transition: color 0.3s ease;
    white-space: nowrap;
}

nav ul li a:hover{
    color: #fff5e1;
    text-decoration: none;
}
nav ul li a::after{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #fff5e1;
    transition: width 0.3s ease;
}

nav ul li a:hover::after{
    width: 100%;
}

nav i{
    font-size: 30px;
    color: #fff5e1;
    display: flex;
    align-items: center;
    transition: transform 0.3 ease;
    flex-shrink: 1;
}

nav i:hover{
    transform: scale(1.2);
}

/* Order button styles */
nav .order-btn {
    background-color: #fff5e1;
    padding: 5px 15px;
    color: #5a2d14;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
    border: 0px solid transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.6s ease;
    flex-shrink: 1;
    white-space: nowrap;
}

/* Hover effect for Order button */
nav .order-btn:hover {
    background-color: #5a2d14;
    color: #fff5e1;
    border: 2px solid #fff5e1;
    text-decoration: none;
}

/* sidebar styles */
/* sidebar hidden by default */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff5e1;
    color: #5a2d14;
    padding: 20px;
    z-index: 1000; /* Ensure the sidebar is above other content */
    transition: left 0.3s ease;
}

.sidebar.sidebar-active{
    left: 0;
}

/* Wrapper for main content */
.main-content {
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
    z-index: 1; /* Ensure it stays below the sidebar */
    overflow-x: hidden;
}

/* Scale down and fade out content when sidebar is active */
.sidebar-active .main-content {
    opacity: 0.8; /* Optional, adds a subtle dimming effect */
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    background: none;
    border: none;
    color: #5a2d14;
    padding: 5px;
}

.sidebar-menu, .sidebar-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-category {
    color: #5a2d14;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0;
}

.menu-category a {
    color: #5a2d14;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    font-weight: 700;
    display: block;
    padding: 10px 0;
}

.sidebar-menu li ul{
    padding-left: 20px;
    margin-top: 10px;
}

.sidebar-menu li ul li a{
    font-size: 16px;
    color: #5a2d14;
    text-decoration: none;
    padding: 5px 0;
}

.sidebar-menu li ul li a:hover{
    text-decoration: underline;
    color: #5a2d14
}


/*banner styles*/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 50px 50px;
    flex-wrap: nowrap;
}

.carousel{
    display: flex;
    height: 100%;
    transition: transform 1s ease-in-out;
    width: 100%;
}

.carousel-container{
    width: 80%;
    max-width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.carousel-slide{
    width: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    object-fit: cover;
}


.carousel-dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: flex;
    gap: 10px;
    transform: translateX(-50%);
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff5e1;
    opacity: 0.5;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.dot.active{
    opacity: 1;
    background-color: #fff5e1;
}

.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 65px;
    color: #fff5e1;
}

.banner-text h1{
    font-size: 18px;
    font-weight: bold;
    color: #fff5e1;
}

.banner-text p{
    font: "inter";
    font-size: 18px;
    text-align: center;
    width: 70%;
    margin-bottom: 20px;
}

#shopForHeading{
    font-size: 20px;
    font-weight: 700;
    color: #fff5e1;
    margin: 0;
}

#shopForText{
    display: inline-block;
    font-size: 70px;
    font-weight: bold;
    color: #fff5e1;
    transition: opacity 1.5s ease;
    opacity: 1;
}

@keyframes fade{
    0%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

/*search bar container*/
.search-container {
    position: relative;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    display: flex;
}

#search-bar {
    width: 100%;
    padding: 10px 15px 10px 45px;
    background-color: #fff5e1;
    border-radius: 20px;
    border: 0;
    outline: none;
    font-size: 18px;
    color: #5a2d14;
    transition: all 0.3s ease; /* Smooth transition for focus */
}

.search-container i {
    color: #5a2d14;
    position: absolute;
    left: 15px; 
    top: 50%;
    transform: translateY(-50%); 
    font-size: 24px;
}

.banner-text input[type="search"]::placeholder{
    color:#5a2d14;
    font: "inter";
    opacity: 0.6;
}

/* Suggestions List */
.suggestions-list {
    position: absolute;
    top: 100%; /* Space below the search bar */
    left: 0;
    right: 0;
    max-height: 200px; /* Limit height for scrollable suggestions */
    overflow-y: auto; /* Scroll when content exceeds max height */
    background-color: #fff5e1; /* Matches the search bar */
    border-radius: 20px; /* Rounded edges */
    z-index: 1000; /* Ensure it appears above other elements */
    list-style: none;
    margin: 0;
    padding: 0;
}

.suggestions-list li {
    text-align: left;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    color: #5a2d14;
}

.suggestions-list li:hover {
    background-color: #fbe2b4; /* Highlight suggestion on hover */
}

.first-suggestion{
    background-color: #fbe2b4;
    font-weight: bold;
    color: #5a2d14;
}

/*featured styles*/
.featured{
    background-color: #fff5e1;
    text-align:center;
    padding: 60px 50px;
}


.featured h2{
    font-size: 70px;
    font-weight: bold;
    color: #5a2d14;
    padding-bottom: 30px;
}

.featured-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 34px;
}

.item{
    position: relative;
    border-radius: 10px;
    width: 300px;
    height:350px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    scroll-snap-align: start;
}

.item:hover{
    transform: scale(1.05);
}

.item-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(90, 45, 20, 0.8);
    color: #fff5e1;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    border-radius: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.5s ease, padding 0.5s ease, background-color 0.5s ease; 
}

.item:hover .item-text{
    background-color: rgba(90, 45, 20, 0.8);
    height: 100%;
    padding: 20px;
    font-size: 26px;
    align-items: center;
}

/*about us styles*/
.about{
    display: flex;
    padding: 20px 50px;
    flex-direction: column;
    background: linear-gradient(to bottom, #5a2d14 76%, #fff5e1 76%);
}

.about-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
    align-items: flex-start;
}

.about-text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    font-family: "inter", sans-serif;
}

.about-heading h2{
    font-size: 70px;
    font-weight: bold;
    color: #fff5e1;
    margin: 0;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.about-text-container p{
    text-align: left;
    font-size: 18px;
    color: #fff5e1;
    margin-top: 20px;
}

.about-text-container h3{
    font-size: 36px;
    font-weight: bold;
    color: #5a2d14;
    margin-top: 100px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.about-image{
    width: 60%;
    text-align: right;
}

.about-image img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.about-image:hover{
    transform: scale(1.01);
}

/*testimonial styles*/
.testimonial{
    padding: 80px 50px;
    background-color: #fff5e1;
    text-align: center;
}

.testimonial-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonial-article-container{
    background-color: #5a2d14;
    display: flex;
    border-radius: 10px;
    max-width:60%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-article-container:hover{
    transform: scale(1.05);
}

.testimonial-article{
    max-width: 520px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-article:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.testimonial-article img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.article-details {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: 100%;
}

.article-details h3{
    font-size: 20px;
    font-weight: bold;
    color: #fff5e1;
    padding: 0px 25px;
    margin: 10px;
    text-align: center;
    white-space: normal;
}

.article-details p{
    font-size: 16px;
    font-weight: normal;
    color: #fff5e1;
    margin-bottom: 30px;
}

.read-now{
    display: inline-block;
    background-color: #fff5e1;
    color: #5a2d14;
    padding: 6px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.read-now:hover{
    background-color: #fff5e1;
    color: #5a2d14;
    text-decoration: none;
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.read-now:visited{
    color: #5a2d14;
    text-decoration: none;
}

.read-now:focus{
    text-decoration: none;
}
.testimonial-text-container{
    flex: 1;
    max-width: 40%;
    text-align: right;
    margin-top: 20px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.testimonial-text-container h3{
    font-size: 30px;
    font-weight: bold;
    color: #5a2d14;
    margin: 5px 0;
}

.testimonial-text-container h2{
    font-size: 100px;
    font-weight: bold;
    color: #5a2d14;
    margin: 5px 0;
}

.testimonial-video-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.testimonial-item{
    flex: 1;
    max-width: 420px;
    aspect-ratio: 16/9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial-item iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-item:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/*footer styles*/
.footer{
    background-color: #5a2d14;
    color:#fff5e1;
    padding: 20px 50px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-left{
    flex: 1;
    padding-right: 30px;
}

.footer-left h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.newsletter{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.newsletter input{
    padding: 6px 10px;
    font-size: 16px;
    border: 2px #fff5e1 solid;
    border-radius: 20px;
    width: 500px;
    background-color: #5a2d14;
}

.newsletter input::placeholder{
    color: #fff5e1;
    opacity: 0.8;
}

.subscribe{
    background-color: #fff5e1;
    color: #5a2d14;
    padding: 6px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
}

.subscribe:hover{
    background-color: #5a2d14;
    color: #fff5e1;
    border: 2px solid #fff5e1;
}

.social-icons{
    display: flex;
}

.social-icons .icon img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.footer-right{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 80px;
}

.footer-section h4{
    font-size: 20px;
    border-bottom: 3px solid #fff5e1;
    padding-bottom: 2px;
    font-weight: bold;
    margin-bottom: 18px;
}

.footer-section ul{
    list-style: none;
    padding: 0;
}

.footer-section li{
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: normal;
}

.footer-section a {
    color: #fff5e1;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
    margin-top: -60px;
}

.footer-bottom p {
    font-size: 14px;
    margin: 0;
    text-align: left;
}

.footer-logo img {
    max-width: 150px;
    height: auto;
}

/*responsive media*/
@media (max-width: 768px){
    /*header section*/
    .nav-bar{
        padding: 0 20px;
    }
    .menu-btn{
        font-size: 18px;
    }
    .logo img{
        max-width: 140px;
    }
    .nav-links li{
        display: none;
    }
    nav i{
        font-size: 26px;
    }
    nav .order-btn{
        padding: 2px 10px;
        font-size: 18px;
    }

    /*sidebar section*/
    .sidebar{
        width: 200px;
    }
    .close-btn{
        font-size: 20px;
    }
    .sidebar-menu li ul li a{
        font-size: 16px;
    }

    /*banner section*/
   .banner{
        padding: 100px 40px 40px 40px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner-text{
        margin-bottom: 20px;
        padding-left: 0;
    }
    .banner-text p{
        font-size: 18px;
        width: 65%;
    }
    .carousel-container{
        width: 100%;
    }
    .search-container{
        max-width: 100%;
    }
}

@media (max-width: 480px){
    /*header section*/
    .nav-bar{
        padding: 0 10px;
    }
    .menu-btn{
        font-size: 12px;
    }
    .logo img{
        max-width: 70px;
    }
    .nav-links li{
        display: none;
    }
    nav i{
        font-size: 16px;
    }
    nav .order-btn{
        padding: 2px 6px;
        font-size: 12px;
    }
    
    /*sidebar section*/
    .sidebar{
        width: 200px;
    }
    .close-btn{
        font-size: 20px;
    }
    .sidebar-menu li ul li a{
        font-size: 16px;
    }

    /*banner section*/
    .banner{
            padding: 50px 20px 20px 20px;
            flex-direction: column-reverse;
            align-items: center;
        }
        .banner-text{
            margin-bottom: 20px;
            padding-left: 0;
        }
        #shopForHeading{
            font-size: 14px;
        }
        #shopForText{
            font-size:44px;
        }
        .banner-text p{
            font-size: 14px;
            width: 80%;
        }
        .carousel-container{
            width: 100%;
            height: auto;
        }
        .search-container{
            max-width: 100%;
        }
        #search-bar{
            width: 100%;
            padding: 6px 12px 6px 40px;
            font-size: 12px;
        }
        .search-container i {
            font-size: 12px; /* Reduced icon size */
        }
        .banner-text input[type="search"]::placeholder{
            font-size: 12px;
        }
}